/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* removes default margin*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale; /* improves font rendering on macOS and firefox*/
}

/* font family for <code> elements*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*Animation for the floating bubble effect and moves them up and down movement */
@keyframes bubbleFloat {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

/* scrolling for navigation */
html {
  scroll-behavior: smooth;
}

